/* Modificacion de archivo de estilos de Bootstrap 4 */

$theme-colors: (
    "primary": #2d244cff,
    "secondary": #2a4d56ff,
    // "warning": #ff6f51,
);

// $dropdown-link-hover-bg: $gray-800 ;

@import "../node_modules/bootstrap/scss/bootstrap";




/* HEX */
$color1: #090f1aff;
$color2: #2a4d56ff;
$color3: #ff6f51;
$color4: #54b56fff;
$color5: #2d244cff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-right: linear-gradient(90deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-bottom: linear-gradient(180deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-left: linear-gradient(270deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-top-right: linear-gradient(45deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-bottom-right: linear-gradient(135deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-top-left: linear-gradient(225deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-bottom-left: linear-gradient(315deg, #090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);
$gradient-radial: radial-gradient(#090f1aff, #2a4d56ff, #ff7a0eff, #54b56fff, #2d244cff);