<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
  
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
  
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <!--Fontawesome iconos-->
    <script src="https://kit.fontawesome.com/5f7ac30c4e.js" crossorigin="anonymous"></script>
  
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/material.min.css">
    <script src="/javascripts/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/styledarwer.css">
    <!-- <link rel="icon" sizes="192x192" href="images/android-desktop.png"> -->
   <!-- <script src="/javascripts/paho-mqtt.js" type="text/javascript"></script> -->
    
    <title>MQTT API</title>
  </head>
