 {{#if message}} 
<!-- Modal -->
    {{!-- <div class="modal fade" id="modal_error" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mensaje de Error
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible fade-show"
                        role="alert">
                        {{message}}
                    </div>
                </div>

            </div>
        </div>
    </div> --}}
    <div class="alert alert-danger alert-dismissible fade-show col-md-6 mx-auto" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert"
        arial-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}} 

{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade-show" role="alert">
    <strong>{{success_msg}}</strong>
    <button type="button" class="close" data-dismiss="alert"
        arial-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if error_msg}}
<!-- Modal -->
    <div class="modal fade" id="modal_error" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mensaje de Error
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible fade-show"
                        role="alert">
                        {{error_msg}}
                    </div>
                </div>

            </div>
        </div>
    </div>

{{/if}}