<!-- Modal addMaquinas -->
<div class="modal fade" id="modal_add_Surtidor" data-backdrop="static"
    tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-gas-pump mr-3"></i>Añadir Maquina
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{> messages }}
            <div class="modal-body">
                <form>
                    <div class="form-group col-md-6 px-0">
                        <label for="cif_client" class="col-form-label">Cif.
                            Cliente</label>
                        <input id="cif_client" type="text" class="form-control"
                            readonly>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="select_categoria">Categoria</label>
                            <select
                                class="js-example-theme-single form-control"
                                id="select_categoria" name="state">
                                <option value='0'>Selecciona una categoria</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="marca">Marca</label>
                            <input id="marca" type="text" class="form-control"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="num_serie">Nº de Serie</label>
                            <input id="num_serie" type="text"
                                class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="modelo">Modelo</label>
                            <input id="modelo" type="text" class="form-control"
                                required>
                        </div>

                    </div>
                    <div class="form-group col-md-4 px-0">
                        <label for="año_fabr">Año</label>
                        <input id="año_fabr" type="text" class="form-control "
                            required>
                    </div>
                    <div class="form-group">
                        <label for="aprob_modelo">Aprobación de Modelo</label>
                        <input id="aprob_modelo" type="text"
                            class="form-control" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                
                <button id="btn_guardar_surtidor" type="button"
                    class="btn btn-success">Guardar<i class="fas fa-save ml-2"></i></button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cancelar<i class="fas fa-sign-out-alt ml-2"></i></button>
                
            </div>
        </div>
    </div>
</div>