<div class="modal fade" id="confir-eliminar" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title " id="exampleModalLongTitle">Confirmar
                    Eliminar
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">

                <h5>¿Estas seguro de eliminar esta Ruta?</h5>
               
                <input class="col-md-12 font-weight-bold" id="rut_eliminar" type="text" readonly >
                <p class="text_dark">{{delRuta.id}} </p>
               
              
            </div>
            <div class="modal-footer">
                <button id="btCancelar" type="button" class="btn btn-secondary btn-sm"
                    data-dismiss="modal">Cancelar</button>               
                <button id="btAceptar" type="button " class="btn btn-danger btn-sm"
                   >Aceptar</button>               
            </div>
        </div>
    </div>
</div>