<!-- Modal Editar Maquinas -->
<div class="modal fade" id="modal_edit_maquina" data-backdrop="static"
    tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <h4 class="modal-title" id="staticBackdropLabel">
                    <i class="fas fa-gas-pump mr-3"></i>Editar Maquina
                </h4>
                <button type="button" class="close text-white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{> messages }}
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4 ">
                            <label for="edit_cif_client" class="col-form-label">Cif.
                                Cliente</label>
                            <input id="edit_cif_client" type="text"
                                class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="edit_categoria" class="col-form-label">Categoria</label>
                            <input id="edit_categoria" type="text"
                                class="form-control">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="edit_marca">Marca</label>
                            <input id="edit_marca" type="text" class="form-control"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="edit_num_serie">Nº de Serie</label>
                            <input id="edit_num_serie" type="text"
                                class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="edit_modelo">Modelo</label>
                            <input id="edit_modelo" type="text" class="form-control"
                                required>
                        </div>

                    </div>
                    <div class="form-group col-md-4 px-0">
                        <label for="edit_año_fabr">Año</label>
                        <input id="edit_año_fabr" type="text" class="form-control "
                            required>
                    </div>
                    <div class="form-group">
                        <label for="edit_aprob_modelo">Aprobación de Modelo</label>
                        <input id="edit_aprob_modelo" type="text"
                            class="form-control" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="btn_actualizar_maquina" type="button"
                    class="btn btn-success">Guardar<i class="fas fa-save ml-2"></i></button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cancelar<i class="fas fa-sign-out-alt ml-2"></i></button>
            </div>
        </div>
    </div>
</div>