<nav
    class="navbar sticky-top navbar-expand-lg navbar navbar-dark bg-dark mb-2 visualizar ">
    <a class="navbar-brand text-warning " href="#">SOMAITEC</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-2">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="/"><i
                            class="fas fa-home mr-1"></i>Inicio <span
                            class="sr-only">(current)</span></a>
                </li>

                {{!-- MENU CLIENTES --}}
                <ul class="navbar-nav ml-2">
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuClientes"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i
                                class="fas fa-users mr-1"></i>Clientes</a>

                        <div class="dropdown-menu"
                            aria-labelledby="navbarDropdownMenuClientes">
                            <a class="dropdown-item"
                                href="/clientes/addCliente"><i
                                    class="fas fa-user-plus mr-2"></i>Añadir
                                Cliente</a>
                            <a class="dropdown-item"
                                href="/clientes/buscar_cliente"><i
                                    class="fas fa-user-edit mr-2"></i>Modificar Cliente</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="/clientes/list_clientes"><i
                                    class="fas fa-address-book mr-2"></i>Ver
                                Clientes</a>
                            
                        </div>
                    </li>
                </ul>
                {{!-- ******************************* --}}

                {{!-- MENU PRECINTOS --}}
                <ul class="navbar-nav ml-2">
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuLink2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-gas-pump mr-2"></i>Precintos</a>

                        <div class="dropdown-menu"
                            aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item"
                                href="/precintos/add_precintos">Añadir
                                Precintos</a>
                            <a class="dropdown-item"
                                href="/precintos/list_precintos">Listar
                                Precintos</a>
                        </div>
                    </li>
                </ul>
                {{!-- *********************** --}}
                {{!-- *MENU DIARIO DE RUTAS * --}}
                {{!-- *********************** --}}

                <ul class="navbar-nav ml-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuLink2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-route mr-2"></i>Diario de
                            Rutas
                        </a>
                        <div class="dropdown-menu"
                            aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item"
                                href="/rutas/add_ruta">Añadir Ruta</a>
                            <a class="dropdown-item" href="/rutas/ListRutas">Ver
                                Rutas</a>
                            {{!-- <a class="dropdown-item" href="#">Eliminar Ruta</a> --}}
                        </div>
                    </li>
                </ul>

                {{!-- **************** --}}
                {{!-- * MENU AVERIAS * --}}
                {{!-- **************** --}}
                <ul class="navbar-nav ml-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuLink2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-route mr-2"></i>Partes de Averia
                        </a>
                        <div class="dropdown-menu"
                            aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item"
                                href="/rutas/add_ruta">Añadir Ruta</a>
                            <a class="dropdown-item" href="/rutas/ListRutas">Ver
                                Rutas</a>
                            {{!-- <a class="dropdown-item" href="#">Eliminar Ruta</a> --}}
                        </div>
                    </li>
                </ul>

            </ul>
            {{!-- ******************* --}}
            {{!-- *  MENU USUARIOS  * --}}
            {{!-- ******************* --}}

            <ul class="navbar-nav ml-auto">
                {{#if user }}
                <p
                    class="form-control border-2 border-warning bg-dark text-warning m-0">
                    Usuario :{{user.usuario}}</p>
                {{/if}}

                <li class="nav-item dropdown ml-2">
                    <a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-user-circle mr-1 "></i>
                        Usuarios
                    </a>
                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink">


                        {{#if_eq user.role 'admin'}}
                        <a id="iRegistro" class="dropdown-item"
                            href="/users/registro/"><i
                                class="fas fa-user-plus mr-2"></i>Crear
                            Nuevo Usuario </a>
                        {{/if_eq}}
                        <a class="dropdown-item" href="/users/listUser"><i
                                class="fas fa-address-book mr-2"></i>Ver
                            Usuario</a>
                        <a class="dropdown-item" href="/users/logout/"><i
                                class="fas fa-sign-out-alt mr-2"></i>Cerrar
                            Sesión</a>
                    </div>
                </li>
            </ul>
            {{!-- ****************************** --}}
        </div>
    </div>
</nav>
<script src="/javascripts/partial/navegacion.js"></script>