<div id="list-maquinas"
    class="ver card  shadow rounded mt-3 ">
    <div class="card-header bg-dark rounded">
        <h4 class="titulo text-warning ml-2">
            <i class="fas fa-gas-pump mr-3"></i>Lista Maquinas </h4>
    </div>
    <div class="card-body px-4">
        <h5 class="card-title pt-2">Tabla de Maquinas</h5>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Num. Serie</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody id="table_body">
        </table>
    </div>
    <div class="card-footer bg-dark rounded">
        <button id="btn_add_maquina" class="btn btn-outline-light mb-0">Añadir Máquina</button>
    </div>
</div>