{{!-- Pagina para editar y modificar el Cliente  --}}

<div id="form_edit_cliente" class="ver card shadow rounded  mt-3 ">
    

    <div class="card-header bg-dark rounded">
        <h4 class="titulo text-warning ml-2"><i
                class="fas fa-user-edit mr-2"></i>Ficha
            Cliente</font>
        </h4>
    </div>

    <div class="card-body ">
        {{!-- Formulario Añadir Cliente --}}
        <form action="/clientes/edit_cliente/{{cliente.id}}?_method=PUT"
            method="POST" class="px-4 mt-1 bg-white">
            <input type="hidden" name="_method" value="PUT">

            <div class="form-row col-md-12 mb-0 p-0 ">
                <div class="form-group col-sm-6 col-md-4 mb-0">
                    <label class="mb-0"for="nume_client">Nº de Cliente</label>
                    <input id="nume_client" class="form-control color-fondo"
                        type="text" name="num_cliente" disabled>
                </div>
                <div class="form-group col-sm-6 col-md-6 mb-0">
                    <label class="mb-0" for="cif">Cif</label>
                    <input id="cif" class="form-control color-fondo" type="text"
                        name="cif" disabled>
                </div>
            </div>
            <div class="form-row mb-0">
                <div class="form-group col-md-12 mb-0">
                    <label class="mb-0" for="inp_client">Nombre</label>
                    <input id="inp_client"
                        class="form-control text-uppercase color-fondo"
                        type="text" name="nombre" disabled>
                </div>

            </div>
            <div class="form-row mt-0">
                <div class="form-group col-md-12 mb-0">
                    <label class="mb-0" for="direccion">Dirección</label>
                    <input id="direccion" class="form-control color-fondo"
                        type="text" name="direccion" disabled>
                </div>
            </div>
            <div class="form-row justify-content-between ">
                <div class="form-group col-md-3 mb-0">
                    <label class="mb-0" for="cod_postal">C.P.</label>
                    <input id="cod_postal" class="form-control color-fondo"
                        type="text" name="cod_postal" disabled>
                </div>
                <div class="form-group col-md-5 mb-0">
                    <label class="mb-0" for="localidad">Localidad</label>
                    <input id="localidad" class="form-control color-fondo"
                        type="text" name="poblacion" disabled>
                </div>
                <div class="form-group col-md-4 mb-0">
                    <label class="mb-0" for="provincia">Provincia</label>
                    <input id="provincia" class="form-control color-fondo"
                        type="text" name="provincia" disabled>
                </div>
            </div>
            {{!-- Contactos --}}
            <div class="form-row mt-0 mb-3">
                <div class="form-group col-md-8 mb-0">
                    <label class="mb-0" for="email"><i class="fas fa-at"></i>Email</label>
                    <input id="email" class="form-control color-fondo"
                        type="email" name="email" disabled>
                </div>

                <div class="form-group col-md-4 mb-0">
                    <label class="mb-0 for="telefono1"><i
                            class="fas fa-phone-square-alt"></i>
                        Telefono</label>
                    <input id="telefono1" class="form-control color-fondo"
                        type="text" name="telefono" disabled>
                </div>
            </div>
        </form>
        <div class="col-sm-12 bg-success">
            <ul>Sitios</ul>
        </div>
    </div>
    <div class="card-footer bg-dark rounded">
        <div class="form-group mb-0 ">
            <button type="button" class="btn btn-outline-light m">
                <i class="far fa-edit mr-1"></i>
                Editar
            </button>
        </div>
        <div class="form-row justify-content-center ver">

            <div class="form-group col-md-3">
                <button type="button" class="btn btn-success btn ver"><i
                        class="fas fa-save mr-2"></i>
                    Guardar</button>
            </div>
            <div class="form-group col-md-3">
                <button class="btn btn-secondary  ver">Cancelar</button>
            </div>
        </div>

    </div>

    {{> modal_Error}}

</div>