<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage"
    content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">
  <!--Fontawesome iconos-->
  <script src="https://kit.fontawesome.com/5f7ac30c4e.js"
    crossorigin="anonymous"></script>
  
  {{!-- Carga de BOOTSTRAP 4 --}}
  <link rel="stylesheet" href="/stylesheet/sass_main.css">
  {{!--Este es el tema de Bootstrap 4 personalizado  
   *************************************************--}}

  {{!--Carga de Theme Bootswatch Flatly basado en BOOTSTRAP 4  --}}
  {{!-- <link
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF"
    crossorigin="anonymous"> --}}

  {{!-- Carga de MDL lite --}}
  <link rel="shortcut icon"
    href="images/home-5-christmas-icon_icon-icons.com_48835.png">
 
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons">

  {{!-- styles select2 
   *  Los archivos de estilos de select2 y del thema select2-bootstrap
   *  estan en la carpeta node modules. En app.js esta la configuración
   *  de los archivos estaticos, que hacen referncia a estas hojas de styles --}}
  <link rel="stylesheet" href="/css/select2.css">
  <link rel="stylesheet" href="/css/select2-bootstrap.css"> 

  {{!-- ************** --}}
 
  {{!-- Hojas de estilo propias --}}
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  {{!-- <link rel="stylesheet" href="/stylesheets/styledarwer.css"> --}}
  {{!-- <link rel="stylesheet" href="/stylesheet/main.css"> --}}
  {{!-- <link rel="stylesheet" href="/stylesheets/style_login.css"> --}}

  {{!-- <link rel="icon" sizes="192x192"
    href="/images/home-5-christmas-icon_icon-icons.com_48835.png"> --}}

  {{!-- Carga de jquery --}}
  
  <script src="/javascripts/jquery.min.js"></script>

  {{!-- *********** --}}

  {{!-- Carga de axios --}}
  <script src=" https://unpkg.com/axios/dist/axios.min.js "></script>

  <title>SOMAITEC SAT</title>
</head>


<body>
  {{#if user}}
  {{> navegacion}}
  {{/if}}

  <main class="container-fluid bg-transparent p-0">
    {{> errors }}
    {{> messages }}
    {{{ body }}}

  </main>

  {{!-- JQUERY_BOOTSTRAP 4 --}}
  
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/select2.min.js"></script>
  <script src="/javascripts/main.js"></script>

</body>