<head>
    <link rel="stylesheet" href="/stylesheet/add_precintos.css">
</head>
<div class="card shadow col-md-9 col-sm-12 mx-auto p-0">
    <div class="card-header bg-primary text-light">
        <h4 class="text-warning"><i class="fas fa-gas-pump mr-2"></i>Añadir
            Precintos</h4>
    </div>
    <div class="card-body col-md-12 col-sm-12 mx-auto">
        {{> messages }}
        <form>
            <label for="form-client">
                <h5 class="mx-3 my-0">Cliente</h5>
            </label>
            <div id="form-client" class="bg-light rounded py-2 mb-2">
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12 col-sm-12 my-1">
                        <select id="select_client"
                            class="selectpicker form-control text-secondary"
                            data-live-search="true" autofocus>
                            <option value="" selected>Selecciona Cliente
                            </option>
                            {{#each client}}
                            <option value={{cif}}>{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4 mr-auto my-1">
                    <a id="btn-nuevo-client" href="/clientes/addCliente"
                        class="btn btn-warning" tabindex="-1"><i
                            class="fas fa-address-book mr-2"></i>Nuevo
                        Cliente</a>
                </div>
            </div>
            {{!-- Form datos de anexo 3 --}}
            <label for="form-anexo3">
                <h5 class="mx-3 my-0">Datos Anexo III</h5>
            </label>
            <div id="form-anexo3" class="bg-light rounded py-2 mb-2">
                <div class="form-row col-md-12">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="date">Fecha</label>
                        <input type="date" class="form-control" name="fecha"
                            id="date" required disabled> </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="num_anexo-3">Nº AnexoIII</label>
                        <input type="number" class="form-control"
                            name="num_anexo3" id="num_anexo-3" placeholder="000"
                            disabled>
                    </div>
                </div>
            </div>
            {{!--Identificación de Surtidor --}}
            <label for="separador" class="mx-3 my-0">
                <h5>Identificacion de Surtidor</h5>
            </label>
            <div id="separador" class="p-2 mb-2 bg-light rounded">
                <div class="form-row col-md-12">
                    <div class="form-group col-md-6 my-1">
                        <label for="select_surtidor">N/S Surtidor</label>
                        <select id="select_surtidor"
                            class="selectpicker form-control text-secondary"
                            data-live-search="true" name="select-surtidor"
                            disabled>
                            <option value="" selected>Selecciona Surtidor
                            </option>

                        </select>

                    </div>

                </div>
                <div class="form-group col-md-4 col-sm-4 my-1">
                    <button id="btn_add_surtidor" type="button"
                        class="btn btn-warning" disabled><i
                            class="fas fa-gas-pump mr-2"></i>Añadir
                        Surtidor</button>
                </div>
            </div>


            {{!-- Modal añadir Surtidor --}}
            {{> modal_addMaquina}}
            {{> messages }}

            {{!--Form Añadir precintos --}}
            <label for="separador" class="mx-3 my-0">
                <h5>Añadir Precintos</h5>
            </label>
            
            <div id="separador" class="shadow p-2 my-0 mx-2 bg-light rounded">
                <div class="form-group col-md-4 mb-1">
                    <label for="num_precinto">Nº de Precinto</label>
                    <input class="form-control" name="precintos[0].num_precinto"
                        id="num_precinto" pattern="[04-H-]+[0-9]"
                        disabled></input>
                </div>
                <div class="form-group col-md-12">
                    <label for="localizacion">Localización</label>
                    <input class="form-control" name="precintos[0].localizacion"
                        id="localizacion" disabled></input>
                </div>
                <div class="form-group col-md-12 col-sm-4">
                    <button id="add_precintos" class="btn btn-warning"
                        disabled>Añadir
                        precinto</button>
                    <button id="btn_elim_ultimo" class="btn btn-primary ">eliminar ultimo</button>
                </div>
                
                <label for="li-precintos" class="ml-1 mb-0">
                    <h6>Lista Precintos añadidos</h6>
                </label>
                <div id="li-precintos" class="form-group list_p col-lg-12 col-md-9 mx-auto py-1">
                    <ol class="for-group col-md-9 " id="precintos_añadidos">

                    </ol>
                </div>

                {{!-- Mensajes de alerta --}}
                {{> modal_Error }}
            </div>


            {{!-- Lista de precintos añadidos --}}
            {{!-- <div class="form-group col-md-12">
                <label for="listaprecintos">Precintos Añadidos</label>
                <textarea class="form-control" id="listaprecintos" rows="4"
                    readonly disabled></textarea>
            </div> --}}



            {{!-- Botones guardar formulario --}}
            <div class="form-row col-md-12 mt-4">
                <div class="form-group col-md-2 ml-auto">
                    <button id='btGuardar' type="submit"
                        class="btn btn-success">Guadar<i class="fas fa-save ml-2"></i></button>
                </div>
                <div class="form-group col-md-2">
                    <a class="btn btn-secondary" href="/">Cancelar<i class="fas fa-sign-out-alt ml-2"></i></a>
                </div>
                    
                
            </div>
        </form>

    </div>

</div>
<script src="/javascripts/precintos.js"></script>