<div class="container">
    <table class="table table-bordered table-sm">
        {{#each precintos}}
        <thead class="thead-primary">
            <tr>
                <th class="align-middle table-primary font-italic">Cif Cliente</th>
                <td class="align-middle table-secondary">{{cif}}</td>
                <td class="text-center">
                    <button onclick="open_modal('{{_id}}')"
                        class="btn btn-danger"><i
                            class="far fa-trash-alt"></i></button>
                    <a href="/rutas/modif_ruta/{{_id}} "
                        class="btn btn-warning"><i class="far fa-edit"></i></a>

                    {{!-- MODAL CONFIRMACION PARA ELIMINAR --}}
                    {{> modal-confirm }}
                </td>
            </tr>
            <tr>
                <th class="font-italic table-primary text-light">Nº Surtidor</th>
                <td class="table-secondary">{{num_serie}} </td>
                
                {{!-- <th class="text-success">format fecha</th> --}}
                {{!-- <td class="text-dark font-weight-bold">{{fecha_format}}</td> --}}
            </tr>
        </thead>



        {{#each anexo3}}
        <thead>
            <tr class="">
                <th class="table-success font-italic">Nº Anexo</th>
                <td class="table-primary text-light font-weight-bold">
                    {{this.num_anexo}}</td>
                <th class="table-success font-italic">Fecha</th>
                <td class="table-secondary text-center">{{this.fecha}}</td>
            </tr>
        </thead>

        <thead>
            <tr>
                <th class="font-italic">Nº Precinto</th>
                <th class="font-italic">Localización</th>
            </tr>
        </thead>
        {{#each this.precintos}}

        <tr>
            <td>{{this.num_precinto}}</td>
            <td>{{this.localizacion}}</td>
        </tr>

        {{/each}}
        {{/each}}
        {{/each}}

    </table>

</div>