/* STILOS CSS PARA PAG DE AÑDIR PRECINTOS */
.list_p {
    background-color: rgba(8, 7, 31, 0.623);
    border-radius: 3px;
    /* max-width: 85%; */
    min-height: 70px;
    /* align-items: center; */
}
div ol{
    list-style-position: outside;
    color: whitesmoke;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div ol li{
    padding-left: 10px;
    background: slategrey;
}
div ol li:hover{
    background: royalblue;
}