@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@media (max-width: 768px){
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
.visualizar{
    display: none;
}
.ver {
    display: none;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/* .wrapper {
    display: flex;
    width: 100vw;
    align-items: stretch;
} */
.color-fondo {
    background: #bef1d6;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    /* background: rgb(24, 33, 70); */
    color: rgb(190, 196, 197);
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
.logo {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.1em; */
    font-weight: 500;
    text-align: center; 
}
#sidebar .sidebar-header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300; 
    padding: 10px;
    /* background: #2a366d; */
}
#sidebar ul {
    list-style:none;
}
#sidebar ul.components {
    padding: 20px;
    border-bottom: 1px solid #47748b;
}
#sidebar ul p {
    color: #fff;
    padding: 20px;
}
#sidebar li a {
    font-size: 1.1em;
    padding: 10px;
    display: block;
}
#sidebar li {
    list-style: none;
}
#sidebar .li-menu:hover {
    list-style: none;
    color:#18b848;
    background: rgb(54, 68, 68);
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;   
}
#sidebar ul li a:hover {
    color:#12e28b;
    background: rgb(52, 56, 56);
}
#sidebar ul li.active > a, a[aria-expanded='true'] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px;
    background: #6d7fcc;
}