body {
  /* background: #4b79a1; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to left,
    #283e51,
    #4b79a1
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to left,
    #283e51,
    #4b79a1
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  background: #F8F8F8;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  color: #058;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.main-head {
  height: 150px;
  background: #fff;
}



/* CSS para pagina de Login */
.main {
  padding: 0px 10px;
  height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 7%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .sidenav {
    width: 38%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 50%;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  /* margin-top: 5%;
    padding: 40px; */
  color: #fff;
}

.login-main-text h2 {
  text-align: center;
  font-weight: 200;
}
.text-p {
  text-align: center;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}
.color-logo {
  color: orange;
  text-align: center;
  font-weight: 400;
}
/* *************Pag. Login */

/* STYLES PAG. LIST_RUTAS  */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.75);
}
.navbar-dark .navbar-nav .nav-link :hover {
  color: rgba(255,255,255,);
}
/* CSS Pagina de Clientes */
.cli {
  background: #fAfAfA;
  margin-top: 20px;
  width: 40%;
  
}
.titulo{
  font-family: Arial, Helvetica, sans-serif;
}
.in-backgroud{
  background: #8fd1fa15;
}
/* Pagina add_Precintos */
.text-separador{
  color: #058;
  margin-bottom: 2px !important;
}
hr{
  margin: 5px ;
}