.title-drawer{
    line-height: 36px;
    color: #11993e;
    padding-left: 16px;

    display:block;
    position:relative;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    font-size:20px;
    /*line-height:1;*/
    letter-spacing:.02em;
    font-weight:400;
    box-sizing:border-box
}
.size-icon{
    font-size: 16px;
    margin-right: 8px;
    text-shadow: 2px 2px 2px #282831;
}
.size-icon-drawer{
    font-size: 16px;
    margin-right: 5px;
}
/*.mdl-navigation__link :hover {
    background-color: #11993e !important;
    color: #282831 !important; 
}*/
