
.demo-card-square.mdl-card {
  margin: auto;
  /*width: 350px;*/
  height: 100%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.panel-control{
  margin-top: 1.5rem;
     
}
.card-title{
  align-items: center;
  background: #23302e;
  color: #4fd7db;
  display: flex;
  height: 3.5rem;
  margin-bottom: 1rem;
  
}
div.botones{
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titulo{
  line-height: 48px;
  font-weight: bold;
}
h2 i{
  margin: 0 10px 0 10px;
  font-size: 48px !important;
}



button i{
  color: #4fd7db;
  font-size: 48px !important;
  
}
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.3s;
}
.ripple:hover {
  background: #23302e radial-gradient(circle, transparent 1%, #78818b 1%) center/15000%;
}
.ripple:active {
  background-color: #23302e;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  height: 120px;
  padding: 12px 18px;
  display: block;
  font-size: 16px;
  line-height: 2.5rem;
  text-transform: none;
  margin: 2px !important;
  cursor: pointer;
  color: #4fd7db;
  background-color: #23302e;
  box-shadow: 0 0 4px #999;
  outline: none;
}
button p {
  font-size: 16px;
  text-align: center;
  width: 100%;
}
.contenedor-datos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
div .panel-datos{
  margin-top: 20px;
  background: #23302e;
  height: 40px;
  color:#4fd7db;
  line-height: 2rem;
  width: 98%;
  margin: auto; 
  text-align: center;
}
div .datos{
  margin-left: 1px;

}
div .text-in{
  width: 150px !important;
  font-size: 1.5rem;
  color: #16b12b;
  pointer-events: none;
}

