<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">
  <!--Fontawesome iconos-->
  <script src="https://kit.fontawesome.com/5f7ac30c4e.js" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="stylesheet" href="stylesheets/material.min.css">
  <script src="/javascripts/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/styledarwer.css">
  <link rel="icon" sizes="192x192" href="images/android-desktop.png">
  <script src="/javascripts/paho-mqtt.js" type="text/javascript"></script>
  
  <title>MQTT API</title>
</head>
<body>
    <%- include menu_Navegacion.ejs %>
    
    <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->
          <!-- Card panel de control-->
          <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
            <div class="card-title">
                <h2 class="titulo mdl-card__title-text"><i class="material-icons">pool</i>Piscina</h2>  
            </div>
            <div class="botones mdl-grig">
                <button class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-js-button ripple">
                  <i class="material-icons">power_settings_new</i><p>Depuradora</p>
                    
                </button>
                <!-- Flat button with ripple -->
                <button class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-js-button ripple ">
                  <i class="fas fa-water"></i><P>LLenar Piscina</P>  
                </button>
                <button id="focosPiscina" class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-js-button ripple">
                  <i class="material-icons">emoji_objects</i><p>Focos Piscina</p>
                
                </button>
                <button class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-js-button ripple">
                  <i class="material-icons">colorize</i><p>Dosificador PH</p>
                </button>
                <button class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-js-button ripple ">
                  <i class="material-icons">timer</i><p>Ajustar Temporizador</p>
                    
                </button>

            </div>

            <!--Visualización de Datos modulo piscina-->
            <div class="mdl-layout mdl-shadow--3dp">
              <div class="panel-datos mdl-layout-title">Datos</div>
                <div class="contenedor-datos" >
                    <div class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-textfield mdl-js-textfield datos ">
                      <span>Presión de Filtro</span>
                      <input class="mdl-textfield__input text-in" type="text" id="presFiltro" value="0.800"/>
                    </div>                                                    
                    <div class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-textfield mdl-js-textfield datos ">
                        <span>Contador de Agua</span>
                        <input class="mdl-textfield__input text-in" type="text" id="Contador" value="858648" />
                    </div>
                    <div class="mdl-cell mdl-cell--2-coll mdl-cell--2-col-phone mdl-textfield mdl-js-textfield datos ">
                        <span>Consumo Kw/h</span>
                        <input class="mdl-textfield__input text-in" type="text" id="Contador" value="45634"/>
                    </div>
                  </div>
            </div>  
            
          </div>
          
         
        </div>
      </main>
    </div>
    <!-- Link para programa cliente_mqtt-->
  <!-- <script src="javascripts/mqtt.min.js"></script>--> 
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="javascripts/cliente_mqtt.js"></script>
   <script>
     MQTTconnect();
   </script>
   
   
  </body>
</html>