
 <div class="jumbotron m-2 p-2 bg-secondary text-warning">  
    <h3 class="display-5 font-weight-bold ml-4"><i class="fas fa-wrench"></i> SOMAITEC S.A.T</h3>
    <p class="lead ml-4">Gestión Servicio Técnico </p>
    <p class="ml-4">@By Jesús Pérez</p>
    
</div>
  