<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">SOMAITEC</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="#"><i class="fas fa-home size-icon"></i>Inicio</a>
            <a class="mdl-navigation__link" href="#"><i class="fas fa-swimmer size-icon"></i>Piscina</a>
            <a class="mdl-navigation__link" href="#"><i class="fas fa-shower size-icon"></i>Fuentes</a>
            <a class="mdl-navigation__link" href="#"><i class="fas fa-lightbulb size-icon"></i>Alumbrado</a>
        </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="title-drawer">SOMAITEC</span>
        <span style="padding-left: 16px; color:#11993e;">Smart House</span>
        <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#"><i class="fas fa-home size-icon-drawer"></i>Inicio</a>
        <a class="mdl-navigation__link" href="#"><i class="fas fa-swimmer size-icon-drawer"></i>Piscina</a>
        <a class="mdl-navigation__link" href="#"><i class="fas fa-shower size-icon-drawer"></i>Fuentes</a>
        <a class="mdl-navigation__link" href="#"><i class="fas fa-lightbulb size-icon-drawer"></i>Alumbrado Jardin</a>
        </nav>
    </div>
  
