<div class="form">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-white bg-dark"><h3><i class="fas fa-user-edit"></i>  Actualizar Usuario
            </h3>
            </div>
            <div class="card-body">
                <form action="/users/edit-user/{{user._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <input type="text" id="usuar" class="form-control" name="role" placeholder="Tipo Usuario" value="{{user.role}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="usuario" placeholder="Nombre de Usuario" value="{{user.usuario}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{user.email}}" >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{user.password}}" >
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block"><i class="fas fa-save"></i> Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>