<div class="container">
  <div class="p-2 bg-dark text-white">
    <h4 class="text-warning pl-3"><i class="fas fa-user-circle mr-2"></i>Lista
      de Usuarios
    </h4>
  </div>
  <table class="table table-success table-hover table-striped">
    <thead class="bg-primary text-light">
      <tr>
        {{!-- <th scope="col">Date</th> --}}
        <th scope="col">Role</th>
        <th scope="col">Usuario</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {{#each user}}
    <tbody>
      <tr class="text-dark">
        {{!-- <td> {{date}} </td> --}}
        <td> {{role}} </td>
        <td> {{usuario}} </td>
        <td> {{email}} </td>
        {{!-- <td> {{password}} </td> --}}
        <td>
          <form class="d-inline-flex mr-2" action="/users/edit/{{id}}">
            <button class="text-muted"><i class="fas fa-edit"></i></button>
          </form>
          {{!-- <a type="button" class="text-muted"  href="/users/edit/{{_id}} "><i
            class="fas fa-edit"></i></a> --}}
          <form class="d-inline-flex" method="post"
            action="/users/delete/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button class="text-muted"><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>