<div class="container-fluid bg-warning"  style="height: 100vh;">
   <div class="jumbotron bg-warning d-flex justify-content-center pt-4 pb-1"><h1 class="display-2 text-light font-weight-normal">SOMAITEC</h1></div>
 {{> messages }}
   <div class="card shadow-lg col-xm-12 col-sm-12 col-md-4  mx-auto p-0 ">
      <div class="card-header text-warning bg-dark">
         <h3><i class="fas fa-sign-in-alt"></i> Login</h3>
      </div>
      <div class="card-body">
         <form action="/users/log/" method="POST">
            <div class="form-group">
               <label><i class="fas fa-user"></i> User Name</label>
               <input type="text" class="form-control" name="usuario"
                  placeholder="User Name">
            </div>
            <div class="form-group">
               <label><i class="fas fa-key"></i> Password</label>
               <input type="password" class="form-control" name="password"
                  placeholder="Password">
            </div>
            <div class="card-footer mt-1">
               <button type="submit"
                  class="btn btn-dark text-warning btn-block">Login</button>

            </div>
         </form>
      </div>

   </div>
</div>