<div class="form">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-white bg-dark"><h3><i class="fas fa-user-plus"></i> Nuevo Usuario
            </h3>
            </div>
            <div class="card-body">
                <form action="/users/registro" method="POST" >
                    <div class="form-group">
                        <input type="text" id="usuar" class="form-control" name="role" placeholder="Tipo Usuario">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="usuario" placeholder="Nombre de Usuario">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block"><i class="fas fa-save"></i> Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>