<section class="container ">
    <div class="col-sm-12 col-md-8 border border-light shadow rounded mx-auto p-0">
        <div class="bg-secondary text-warning p-2">
                <h4 class="titulo ml-2">
                    <font style="vertical-align: inherit;">Nuevo Cliente</font>
                </h4>
            </div>
        <form action="/clientes/add_cliente" method="POST" class="px-4 mt-1">
            
            {{!-- Formulario Añadir Cliente --}}
            <div class="form-row mb-0 ">
                <div class="form-group col-lg-3 col-md-3">
                    <label for="nume_client">Nº de Cliente</label>
                    <input id="nume_client" class="form-control in-background" type="text" name="num_cliente" autofocus>
                </div>
            </div>
            <div class="form-row mb-0">
                <div class="form-group col-md-8">
                    <label for="client">Cliente</label>
                    <input id="client" class="form-control in-background text-uppercase"
                        type="text" name="nombre">
                </div>
                <div class="form-group col-md-4">
                    <label for="cif">Cif</label>
                    <input id="cif" class="form-control in-backgroud"
                        type="text" name="cif">
                </div>
            </div>
            <div class="form-row mt-0">
                <div class="form-group col-md-9">
                    <label for="direccion">Dirección</label>
                    <input id="direccion" class="form-control in-backgroud"
                        type="text" name="direccion">
                </div>
            </div>
            <div class="form-row justify-content-between ">
                <div class="form-group col-md-3">
                    <label for="cod_postal">C.P.</label>
                    <input id="cod_postal" class="form-control in-backgroud"
                        type="text" name="cod_postal">
                </div>
                <div class="form-group col-md-4">
                    <label for="localidad">Localidad</label>
                    <input id="localidad" class="form-control in-backgroud"
                        type="text" name="poblacion">
                </div>
                <div class="form-group col-md-4">
                    <label for="provincia">Provincia</label>
                    <input id="provinca" class="form-control in-backgroud"
                        type="text" name="provincia">
                </div>
            </div>
            {{!-- Contactos --}}
            <div class="form-row mt-0">
                <div class="form-group col-md-8">
                    <label for="email"><i class="fas fa-at"></i>Email</label>
                  <input id="email" class="form-control in-backgroud"
                        type="email" name="email">
                </div>
                <div class="form-group col-md-4">
                    <label for="telefono1"><i class="fas fa-phone-square-alt"></i> Telefono</label>
                  <input id="telefono1" class="form-control in-backgroud"
                        type="text" name="telefono">
                </div>
            </div>
          
            {{!-- <div class="form-row">
                <div class="form-group mr-2">
                    <button type="button" class="btn btn-secondary">Añadir Sitios</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary">Añadir Maquina</button>
                </div>
            </div> --}}

            <div class="d-flex flex-row col-md-12 justify-content-end m-3">
                <button type="submit" class="btn btn-success mr-2">Guardar<i class="fas fa-save ml-2"></i></button>
                <button type="button"class="btn btn-secondary" onclick="fn_regresar()">Cancelar<i class="fas fa-sign-out-alt ml-2"></i></button>
            </div>
        </form>
        
        {{!-- <div>
            <h5>Sitios</h5>
            </div>
        <table class="table table-sm mt-2">
            <thead class="bg-dark text-light">
                <tr class="text">
                    <th scope="col">Nombre E.S.</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">Reg. Industrial</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr> 
        <button type="button" class="btn btn-dark">Añadir Sitios</button> --}}
    </div>
</section>
<script src="/javascripts/Clientes/clientes.js"></script> 