 <head>

    {{!-- <link
        href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
        rel="stylesheet"> --}}
    <link rel="stylesheet" href="/stylesheet/editCliente.css">
    {{!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"> 

    <script
        src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js">
    </script> --}}

</head>

<div class="container-fluid">
     
    {{!-- Contenido de la pagina --}}
    <div id="container" class="bg-light  p-0">
        <nav class="navbar sticky-top navbar-expand-lg bg-dark text-warning p-0" >
            
            <div class="form-row col-md-12 mx-auto ">
                <div
                    class="form-group col-md-5 text-warning  ml-auto mt-2 pb-3 border border-secondary bg-dark">
                    <label for="sel_buscarCliente">Selecciona Cliente</label>
                    <select
                        class="js-example-theme-single form-control"
                        id="sel_buscarCliente" name="state">
                        <option value="">Selecciona Cliente
                        </option>
                        {{#each client}}
                        <option value={{cif}}>{{num_cliente}} {{nombre}}
                        </option>
                        {{/each}}

                    </select>
                </div>
            </div>
        </nav>

        <div class="row row-cols-1 row-cols-lg-2 p-3">

            {{>parcial_edit_cliente }}

            {{>parcial_ver_maquinas}}

        </div>
        {{>modal_addMaquina}}
        {{>modal_editMaquina}}

    </div>

</div>

<script src="/javascripts/Clientes/buscarCliente.js"></script>