{{!-- Pagina para editar y modificar el Cliente  --}}
<div class="container bg-secondary">

</div>
<section class="cli  mx-auto">
    <div class="container bg-light shadow rounded col-md-7 mt-3 p-0">
        <div class="bg-success text-light p-2">
            <h4 class="titulo ml-2"><i
                    class="fas fa-user-edit mr-2"></i>Modificar Cliente</font>
            </h4>
        </div>
        <form action="/clientes/edit_cliente/{{cliente.id}}?_method=PUT"
            method="POST" class="px-4 mt-1">
            <input type="hidden" name="_method" value="PUT">

            {{!-- Formulario Añadir Cliente --}}
            <div class="form-row mb-0 ">
                <div class="form-group col-lg-3 col-md-3">
                    <label for="nume_client">Nº de Cliente</label>
                    <input id="nume_client" class="form-control in-background"
                        type="text" name="num_cliente"
                        value="{{cliente.num_cliente}}">
                </div>
            </div>
            <div class="form-row mb-0">
                <div class="form-group col-md-8">
                    <label for="inp_client">Cliente</label>
                    <input id="inp_client"
                        class="form-control text-uppercase in-background"
                        type="text" name="nombre" value="{{cliente.nombre}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="cif">Cif</label>
                    <input id="cif" class="form-control in-backgroud"
                        type="text" name="cif" value="{{cliente.cif}}">
                </div>
            </div>
            <div class="form-row mt-0">
                <div class="form-group col-md-9">
                    <label for="direccion">Dirección</label>
                    <input id="direccion" class="form-control in-backgroud"
                        type="text" name="direccion"
                        value="{{cliente.direccion}}">
                </div>
            </div>
            <div class="form-row justify-content-between ">
                <div class="form-group col-md-3">
                    <label for="cod_postal">C.P.</label>
                    <input id="cod_postal" class="form-control in-backgroud"
                        type="text" name="cod_postal"
                        value="{{cliente.cod_postal}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="localidad">Localidad</label>
                    <input id="localidad" class="form-control in-backgroud"
                        type="text" name="poblacion"
                        value="{{cliente.poblacion}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="provincia">Provincia</label>
                    <input id="provinca" class="form-control in-backgroud"
                        type="text" name="provincia"
                        value="{{cliente.provincia}}">
                </div>
            </div>
            {{!-- Contactos --}}
            <div class="form-row mt-0">
                <div class="form-group col-md-8">
                    <label for="email"><i class="fas fa-at"></i>Email</label>
                    <input id="email" class="form-control in-backgroud"
                        type="email" name="email" value="{{cliente.email}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="telefono1"><i
                            class="fas fa-phone-square-alt"></i>
                        Telefono</label>
                    <input id="telefono1" class="form-control in-backgroud"
                        type="text" name="telefono"
                        value="{{cliente.telefono}}">
                        
                </div>
            </div>

            <div class="form-row col-md-6 justify-content-end ml-auto">
                <div class="form-group">
                    <button type="submit" class="btn btn-success mr-2">Guardar<i
                            class="fas fa-save ml-2"></i>
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary">Cancelar<i
                            class="fas fa-sign-out-alt ml-2"></i></button>
                </div>

            </div>
        </form>
        {{> modal_Error}}
        <script src="/javascripts/Clientes/clientes.js"></script>