<div class="p-2 bg-dark text-white">
  <h4 class="pl-3">Listado de Clientes</h4>
</div>
<table class="table table-primary table-hover table-striped">
  <thead>
    <tr>
      {{!-- <th scope="col">Date</th> --}}
      <th scope="col">Nº Cliente</th>
      <th scope="col">Nombre Cliente</th>
      <th scope="col">Cif</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  {{#each client}}
  <tbody>
    <tr class="text-dark">
      
      <td> {{num_cliente}} </td>
      <td> {{nombre}} </td>
      <td> {{cif}} </td>
      <td>
       <form class="d-inline-flex" 
             action="/clientes/edit_cliente/{{id}}">
          <button class="text-muted"><i class="fas fa-edit"></i></button>
        </form>
       {{!-- <a type="button" class="text-muted"  href="/users/edit/{{_id}} "><i
            class="fas fa-edit"></i></a> --}}
        <form class="d-inline-flex" method="post" action="/clientes/delete_cliente/{{id}}?_method=DELETE">
          <input type="hidden" name="_method" value="DELETE">
          <button class="text-muted"><i class="fas fa-trash-alt"></i></button>
        </form>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>