<div class="card shadow col-md-9 col-sm-9 rounded mx-auto p-0">
    <div class="card-header bg-dark text-light">
        <h4><i class="fas fa-route mr-2"></i>Añadir Ruta</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="/rutas/add_rutas">
            <div class="form-row col-md-12">
                <div class="form-group col-md-4 col-sm-8">
                    <label for="date">Fecha</label>
                    <input type="date" class="form-control" name="fecha"
                        id="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                </div>  

                <div class="form-group col-md-4 col-sm-4">
                    <label for="num_aviso">Nº Aviso</label>
                    <input type="number" class="form-control" name="num_aviso"
                        id="nun_aviso" placeholder="0000">
                </div>
            </div>

            <div class="form-row col-md-12">

                <div class="form-group col-md-8">
                    <label for="client">Ciente</label>
                    <select id="select_cliente"
                        class="selectpicker form-control text-secondary"
                        name="cif" data-live-search="true" autofocus>
                        <option value="" selected>Selecciona Cliente
                        </option>
                        {{#each client}}
                        <option value={{cif}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" name="cliente" id="client_hide" value="">
                </div>

                <div class="form-group col-md-4">
                    <label for="localidad">Localidad</label>
                    <input type="text" class="form-control" name="localidad"
                        id="localidad">

                    {{!-- <select name="localidad" id="localidad" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select> --}}
                </div>
            </div>

            <div class="form-group col-md-12">
                <label for="observaciones">Descripción</label>
                <textarea class="form-control" name="descripcion"
                    id="observaciones" rows="2"></textarea>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-3 ">
                    <label for="h_inicio">Hora Inicio</label>
                    <input type="time" class="form-control" name="h_ini"
                        id="h_inicio">
                </div>
                <div class="form-group col-md-3">
                    <label for="h_fin">Hora Fin</label>
                    <input type="time" name="h_fin" class="form-control"
                        id="h_fin">
                </div>
                <div class="form-group col-md-3">
                    <label for="km_inicio">Km Inicio</label>
                    <input type="number" class="form-control" name="km_ini"
                        id="km_inicio" placeholder="0000">
                </div>

                <div class="form-group col-md-3">
                    <label for="km_fin">Km Fin</label>
                    <input type="number" class="form-control" name="km_fin"
                        id="km_fin" placeholder="0000">
                </div>

            </div>
            <div class="col-md-4 ml-auto">
                <button type="submit" class="btn btn-success">Guadar</button>
                <a class="btn btn-secondary"
                    href="/rutas/ListRutas">Cancelar</a>
            </div>
        </form>
    </div>
</div>

{{!-- Cargo el archivo javascript paraq esta pagina  --}}
<script src="/javascripts/diarioRutas.js"></script>