{{!-- TABLA PARA PRESENTAR LAS RUTAS --}}

<div class="container table-sm table-responsive text-nowrap border ">
  <table class="table table-striped small ">
    {{!-- Barra de Herramientas --}}
    {{!-- <div class="col-md-12 p-2 bg-dark text-white">
      <h5 class="ml-3">Diario de Rutas</h5>
      <div class=" ml-auto">
        <button class="btn btn-decondary" id="modalBuscar"><i
            class="fas fa-filter mr-2"></i>Filtrar</button>
      </div> --}}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-dark ">
      <div class="container">
        <a class="navbar-brand text-warning" href="#"><i
            class="fas fa-route mr-2"></i>Diario de Rutas</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-2"><a class="nav-link btn btn-sm btn-warning text-dark"
              href="/rutas/add_ruta">Añadir Ruta</a></li>
          <li class="nav-item mr-2"><button class="nav-link btn btn-sm btn-warning text-dark"
              id="modalBuscar"><i class="fas fa-filter mr-2"></i>Fitrar
              Datos</button></li>
          <li class="nav-item"><a class="nav-link btn btn-sm btn-warning text-dark"
              href=""><i class="fas fa-search mr-2"></i>Buscar</a></li>
        </ul>
      </div>
      {{!-- ******************** --}}
      
      <thead class="thead-dark ">
        <tr>
          {{!-- <th scope="col">id</th> --}}
          <th scope="col">Fecha</th>
          <th scope="col">Nº Aviso</th>
          <th scope="col">Cliente</th>
          <th scope="col">Localidad</th>
          <th scope="col">H Inicio</th>
          <th scope="col">H Fin</th>
          <th scope="col">Km Inicio</th>
          <th scope="col">Km Fin</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody style="color: #058;">
        {{#each rutas}}
        <tr class="">
          {{!-- <th scope="row">{{_id}} </th> --}}
          <td>{{fecha}}</td>
          <td>{{num_aviso}}</td>
          <td>{{cliente}}</td>
          <td>{{localidad}}</td>
          {{!-- <td>{{descripcion}}</td> --}}
          <td>{{h_ini}}</td>
          <td>{{h_fin}}</td>
          <td>{{km_ini}}</td>
          <td>{{km_fin}}</td>
          <td>
            {{!-- <a href="/vueGetRuta/{{_id}}">eliminar</a> --}}
            <button onclick="open_modal('{{_id}}')"class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            <a href="/rutas/modif_ruta/{{_id}} " class="btn btn-warning"><i class="far fa-edit"></i></a>
            
            {{!-- MODAL CONFIRMACION PARA ELIMINAR --}}
            {{> modal-confirm }}
          </td>

        </tr>
        {{/each}}
      </tbody>
  </table>

  {{!-- Formulario MODAL para filtrar tabla --}}
  <div class="modal fade" id="filtro-tabla" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title" id="exampleModalLongTitle">Filtrar Rutas</h5>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="form-row col-md-12">
              <div class="form-group col-md-6">
                <label for="fecha1">Fecha Inicio</label>
                <input type="date" class="form-control" id="fecha1"
                  placeholder="Enter email">
              </div>
              <div class="form-group col-md-6">
                <label for="fecha2">Fecha Fin</label>
                <input type="date" class="form-control" id="fecha2">
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="fecha2">Cliente</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group col-md-3">
              <label for="fecha2">Nº de Aviso</label>
              <input type="number" class="form-control" id="num_aviso"
                placeholder="0000">
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>

  </div>

</div>
