<div class="card shadow col-md-9 col-sm-9 mx-auto p-0">
    <div class="card-header bg-dark text-warning">
        <h4><i class="fas fa-route mr-2"></i>Modifcar Ruta</h4>
    </div>
    <div class="card-body">
        <form action="/rutas/modif_ruta/{{ruta._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-row col-md-12">
                <div class="form-group col-md-3 col-sm-2">
                    <label for="date">Fecha</label>
                    <input type="date" class="form-control" name="fecha"
                        id="date" required 
                        value="{{pasafecha ruta.fecha}}">
                </div>
                <div class="form-group col-md-2 col-sm-2">
                    <label for="num_aviso">Nº Aviso</label>
                    <input type="number" class="form-control" name="num_aviso"
                        id="nun_aviso" placeholder="0000"
                        value="{{ruta.num_aviso}}">
                </div>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-8">
                    <label for="client">Ciente</label>
                    <input type="text" class="form-control" name="cliente"
                        id="client" value="{{ruta.cliente}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="localidad">Localidad</label>
                    <input type="text" class="form-control" name="localidad"
                        id="localidad" value="{{ruta.localidad}}">

                    {{!-- <select name="localidad" id="localidad" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select> --}}
                </div>
            </div>

            <div class="form-group col-md-12">
                <label for="observaciones">Descripción</label>
                <textarea class="form-control" name="descripcion"
                    id="observaciones" rows="3">{{ruta.descripcion}}</textarea>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-3 ">
                    <label for="h_inicio">Hora Inicio</label>
                    <input type="time" class="form-control" name="h_ini"
                        id="h_inicio" value="{{ruta.h_ini}}">
                </div>
                <div class="form-group col-md-3">
                    <label for="h_fin">Hora Fin</label>
                    <input type="time" name="h_fin" class="form-control"
                        id="h_fin" value="{{ruta.h_fin}}">
                </div>
                <div class="form-group col-md-3">
                    <label for="km_inicio">Km Inicio</label>
                    <input type="number" class="form-control" name="km_ini"
                        id="km_inicio" placeholder="0000"
                        value="{{ruta.km_ini}}">
                </div>

                <div class="form-group col-md-3">
                    <label for="km_fin">Km Fin</label>
                    <input type="number" class="form-control" name="km_fin"
                        id="km_fin" placeholder="0000" value="{{ruta.km_fin}}">
                </div>

            </div>
            <div class="col-md-4 ml-auto">
                <button type="submit" class="btn btn-success">Guadar</button>
                <a class="btn btn-secondary"
                    href="/rutas/ListRutas">Cancelar</a>
            </div>
        </form>
    </div>
</div>